p Hi #{name},
p You have successfuly created an account on Mapories!

span To begin using Mapories, 
a(href=link) click on this link 
span to verify your email.

p We wish you a pleasant experience with Mapories!

p Best regards,
p Your Mapories team